/* common css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


/* banner css */

#banner {
    background: rgba(229, 84, 115, 0.10);
    height: 85vh;
    overflow: hidden;
    padding: 0 150px;
    position: relative;
}

.banner-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    display: flex;
    align-items: center;
    width: 40%;
    height: 85vh;
}

.banner-content-middle h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
}


.banner-content-middle p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    line-height: 1.4rem;
    margin-bottom: 20px;
}

.btn-primary {
    border-radius: 8px;
    background-color: rgb(219, 10, 87);
    color: #fff;
    border: none;
    padding: 15px 30px;
}

.banner-img img {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 150px;
}




/* feature style */


#feature {
    margin: 100px 150px 80px;
}

.sec-top {
    text-align: center;
    margin-bottom: 25px;
}

.sec-top h1 {
    font-weight: 900;
    color: #272727;
    font-size: 26px;
    margin-bottom: 10px;
}

.sec-top p {
    width: 40%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.2rem;
    color: rgba(39, 39, 39, 0.60);
}


.feature-item-wrapper {
    display: flex;
    justify-content: space-between;
}


.feature-item .f-img {
    width: 300px;
    height: 350px;
    position: relative;
}

.f-img img {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.feature-img-1 {
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.feature-img-2 {
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
}

.feature-img-2 img {
    bottom: 10%;
}

.feature-img-3 {
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
}

.feature-item {
    text-align: center;
}

.feature-item a {
    color: #272727;
    font-weight: 900;
    margin-top: 20px;
    display: inline-block;
}



/* service style */

#service {
    margin: 80px 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 220px;
}

.service-item-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.service-item {
    text-align: center;
}

.service-item img {
    width: 60px;
}

.service-item p {
    font-weight: 700;
    color: rgba(39, 39, 39, 0.80);
    margin-top: 10px;
    font-size: 16px;
}



/* deal style */

#deal {
    height: 415px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.deal-content {
    max-width: 35%;
    text-align: center;
}

.deal-content h1 {
    color: #272727;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 10px;
}

.deal-content h1 span {
    color: #c1435e;
}

.deal-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    line-height: 1.3rem;
    margin-bottom: 20px;
}

#deal img {
    width: 200px;
}





/* instagram style */

#instagram {
    margin: 80px 150px;
}

.ins-item-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ins-item {
    width: 230px;
    height: 270px;
}

.ins-item img {
    width: 100%;
    height: 100%;
}


/* subscribe css */

#subscribe {
    height: 300px;
    margin: 80px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: url('../assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscribe-content-wrapper{
    width: 100%;
    text-align: center;
}

.btn-subscribe{
    background-color: rgb(219, 10, 87);
    color:#fff;
    margin-left: 10px;
}
.subscribe-content-wrapper form input{
    padding: 15px 30px;
    border:none;
    border-radius: 5px;
}

.email-field{
    width: 40%;
}


/* support */






/* footer */


#footer{
    height: 300px;
    background: #111010;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    padding-top: 50px;
}

.footer-content h1{
    color: rgb(219, 10, 87);
    font-weight: 900;
    margin-bottom: 20px;
}

.footer-content h1 span{
    color: #fff;
}

.footer-content .foot-p{
    color: rgba(223, 223, 223, 0.9);
    font-size: 12px;
    line-height: 1.3rem;
}

.footer-content .copyright{
    color:rgba(255, 255, 255, 0.40);
    font-size: 10px;
    margin-top: 20px;
}

#support{
    margin: 0 150px;
    background: rgb(193, 9, 76);
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-top: -425px;
}

.support-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.support-item{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.support-item i{
    font-size: 50px;
}

.contract-content-wrapper{
    color: #fff;
    border-left: 1px solid #fff;
    padding: 10px;
}

.contract-item-one{
    margin-bottom: 10px;
}
